body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
#sidebar {
  background: #f3f3f3;
  padding: 11px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  min-width: 250px;
  max-width: 600px;
  width: 300px;
  box-sizing: border-box;
}
#resizer {
  width: 5px;
  cursor: ew-resize;
  background: #ccc;
  user-select: none;
}
#editor-panel {
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
ul {
  list-style-type: none;
  padding-left: 1rem;
}
.folder, .file {
  display: list-item;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
}
.folder:hover, .file:hover {
  background-color: #ddd;
}
.active {
  background-color: #cce5ff;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.controls_row {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}
.subtree{
  display: inline-flex;
  width: 100%;
}
.subtree ul{
  width: 100%;
}
.subtree li, #tree li{
  display: grid;
}
#myst {
  flex-grow: 1;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  height: 80vh;
  overflow: hidden;
}
.myst-editor-wrapper{
  padding: 0px !important;
}
button {
  width: 100%;
  white-space: nowrap;
  margin-right: 5px;
  cursor: pointer;
}
#container {
  display: flex;
  width: 100%;
  height: 100vh;
}

@media print {
  #sidebar, #editor-wrapper, #resizer, .myst-main-editor {
    display: none !important;
  }
  .myst-preview {
    width: 100%;
    display: block;
  }
  body {
    overflow: visible !important;
    height: auto !important;
  }
}